
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_form }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'polls:index' %}">Return to home</a></p>
