{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}" />

{% if latest_result %}
	<ul>	
	{% for question in latest_result %}
		<li>
			<a href="{% url 'polls:details' question.id %}">{{question.question_text}}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p> No polls available </p>
	
{% endif %}		

{% if v_persons %}
	<ul>
	{% for person in v_persons %}
		<li>
			<a href="{% url 'polls:get_contactform' person.id %}">Update {{person.name}}-{{person.id}}</a>			
		</li>
	{% endfor %}
		
	</ul>
{% else %}	
	<p> No persons available for id = {{ person.id }}</p>
{% endif %}


{% if v_memberships %}
	<ul>
	{% for v_membership in v_memberships %}
		<li>
			<a href="{% url 'polls:details' v_membership.id %}"> {{v_membership.person.name}}</a>			
		</li>
	{% endfor %}
		
	</ul>
{% else %}	
	<p> No persons available for id = {{ v_membership.id }}</p>
{% endif %}


<h1> this is H1 css test</h1>

{% with p_id=1 %}
<form action="{% url 'polls:get_contactform' p_id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endwith %}

{% with p_id=1 %}
<a href="{% url  'polls:get_contactform' p_id %}">update_person_{{p_id}}</a>
{% endwith %}

<h1> This is form file upload test </h1>


<a href="{% url  'polls:file_form' %}">Test image form</a>