<p> This is Person view </p>
{% if person %}
<p> Person ID = {{person.id}} and Person Name = {{person.name}}</p>
{% endif %}

{% if form %}
<form action="{% url 'polls:get_contactform' person.id %}" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Submit" />

</form>
{% endif %}

